<section *ngIf="person">
  <h2>You selcted: {{person.name}}</h2>
  <h3>Description</h3>
  <p>
    {{person.name}} weights {{person.weight}} and is {{person.height}} tall.
  </p>
</section>

<form action="" #personForm="ngForm">
  <div>
    <label for="">name: </label>
    <input type="text" name="name" required [(ngModel)]="person.name" #name="ngModel" required>
  </div>
  <div>
    input "name" class is: {{name.className}}
  </div>
  <div [hidden]="name.valid || name.pristine" class="error">
    Name is required my good sir/lady!
  </div>
  <br/>
  <div>
    <label for="">weight: </label>
    <input type="number" [value]="person.weight" (change)="person.weight = weight.value" #weight>
  </div>
  <div>
    <label for="">height: </label>
    <input type="number" [(ngModel)]="person.height" name="height">
  </div>
  <div>
    <label for="">profession: </label>
    <select name="profession" [(ngModel)]="person.profession">
      <option *ngFor="let profession of professions" [value]="profession">{{profession}}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!personForm.form.valid">Save</button>
</form>
<br/>
<button (click)="gotoPeoplesList()">Back to peoples list</button>