<!--The content below is only a placeholder and can be replaced.-->
<div >
  <!-- <h1>
    Welcome to {{title}}!
  </h1> -->

  <!-- <app-my-new-component></app-my-new-component> -->

  <!-- <app-property-event-binding></app-property-event-binding> -->

  <!-- <app-class-style-css></app-class-style-css> -->

  <!-- <app-demo-services></app-demo-services> -->

  <!-- <app-demo-animation></app-demo-animation> -->


  <!-- learn detail -->
  <!-- <a routerLink="/">Home</a>
  <a routerLink="/new-component">New Component</a>
  <a routerLink="/event-binding">Event Binding</a>
  <a routerLink="/style-css">Style Css</a>
  <a routerLink="/demo-service">Demo Service</a>
  <a routerLink="/demo-animation">Demo animation</a>
  <br>
  <router-outlet></router-outlet> -->
</div>  

<div>
  <!-- <app-people-list></app-people-list> -->
  <router-outlet></router-outlet>
</div>


